@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ubuntu:wght@300&display=swap');
*
{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
header
{
border:2px solid red;
font-family: 'Ubuntu', sans-serif;
background-color: black;
color:aliceblue;
}
ul{
    display:flex;
    align-items: center;
    gap:2rem;
}
.brand
{
    display:flex;
    align-items: center;
    border: 2px solid pink;
    gap:1.5rem
}
span{
    font-size: 2rem
}
ul li{
    list-style: none;
    font-size: 2rem;
}
ul img{
    height:5rem;
    width:5rem;
}
h1{
    font-size:3rem
}
.container
{
    display: flex;
    border: 2px solid green;
    padding: 2rem;
    min-height: 90vh;
    min-width: 50vw;
    background-image: url('bg.jpg');
    color:aliceblue;
    background-size: cover;
    /*background-position: center center;*/
   margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}
.songitemcontainer
{
    border: 2px solid pink;
    margin: 2rem;
}
.songitem
{
    border: 2px solid red;
    max-height:10rem;
    max-width:100%;
    border-radius: 2rem;
    margin: 2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    padding: 1rem;
}
.songitem img{
    height:2rem;
    width:2rem;
    border-radius: 50rem;
}
.songname
{
    color:white;
    flex:1 1 2rem;
    padding-left: 2rem;
}
.songlistplay
{
    display: flex;
    gap:1rem;
    align-items: center;
}
.songinfo
{
    text-align: center;
}
footer{
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid green;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
}
input
{
    width:100%;
    border: 2px solid pink;
}
.icons
{
    cursor: pointer;
    border: 2px solid red;
    margin: auto;
    width:30rem;
    text-align: center;
}
#mastersongname
{
    color:white
}


/*media queries*/
@media(max-width:998px)
{
    html
    {
        font-size:55%
    }
}
@media(max-width:768px)
{
    html
    {
        font-size: 45%;
    }
}
@media(max-width:450px)
{
    html
    {
        font-size: 50%;
    }
    .songitem
    {
        padding: 0.5rem;
    }
}
/*@media(max-width:991px)
{body{
background-color: black;
};
    html{
        font-size: 55%;
    }
   header
    {
        padding: 2rem;
    }
    .content
    {
        padding: 5rem;
    }
    
}
@media(max-width:768px)
{body
    {
        background-color: blue;
    };
    .fa-bars
    {
        display: block;
    }
    .container
    {
        top:12%;
        left:0;
        right:0;
        background-color:palevioletred;
        position: absolute;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .container
    {
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        
    }
    .container a{
        margin: 0.5rem;
        display: block;
        border: .1rem solid rgba(0,0,0,.1);
        background-color: #fff;
        padding: .3rem;
    }
    .content
    {
        margin-left: 0;
        margin-top: 18rem;
    }
}
@media(max-width:450px)
{
    html{
        font-size: 50%;
    }
   body{
background-color: palevioletred;
    };
    
}*/
